<!DOCTYPE html>

<html>

<head>
    <title>About Me</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>I didnt feel like actually putting info here. So here is a robot.</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>

</html>