<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The data comes from weatherstack and mapbox to give you your weather. Enjoy this picture of the robot that gets your info!</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>

</html>